body{
    font-family: "Poppins", sans-serif;
    background: #ddceedb0;
}

h1{
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #8a57c9;
    margin-bottom: 0;
}

a{
  color: #c09de5;  
}
img{
    width: 100px;
}

.weather-app-wrapper{
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 8px;
    background: #ffffffd9;
    box-shadow: 3px 3px 16px 4px rgba(0, 0, 0, 0.1);
}

hr{
    margin-top: 100px;
    color: #8a57c9;
}

.description-footer{
    display: block;
    margin: 30px auto;
    text-align: center;
    font-family: monospace;
}

.form-control{
    
    border: 1px solid #8a57c9;
}

.btn-primary{
    background: #8a57c9;
    border: 1px solid #8a57c9;
}

.btn-outline-secondary{
    color: #8a57c9;
    border: 1px solid #8a57c9;
}
.btn-primary:hover{
    background: #c09de5;;
}
.btn-outline-secondary:hover {
    background: #c09de5;
    ;
}
.description{
    display: flex;
    
}
.weather-temperature{
    margin-right: 20px;
}
.weather-temperature img {
    margin-right: 5px;
}

.weather-temperature strong{
    font-size: 60px;
    font-weight: 400;
    color: #8a57c9;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    top: -32px;
}
.weather-temperature .active {
    color: #8a57c9;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
color: #c09de5;
list-style: none;
font-size: 16px;
font-weight: 100;
line-height: 19px;
margin: 0;
padding: 0;
}

form{
    max-width: 70%;
    margin-bottom: 50px;
}
.col-9 {
    display: inline;
}

.col-3{
    text-align: right;
}
.search-form .col-2{
    max-width: 80px;
}
#current {
    max-width: 80px;
}
.weather-forecast{
    margin-top: 30px;
    text-align: center;
}

.col{
    padding: 10px;
}

.col:hover{
    
    box-shadow: 3px 3px 16px 4px rgba(0, 0, 0, 0.1);
}
.weather-forecast-date{
    font-size: 16px;
    color: #c09de5;
}
.weather-forecast-temperatures{
    font-size: 13px;
}
.weather-forecast-temperature-max{
    color: #8a57c9;
}
.weather-forecast-temperature-min {
    color: #c09de5;
}

.active{
    text-decoration: none;
}